body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
    background-color: black;
    color:rgb(100, 243, 136);
  }
  
  ol, ul {
    padding-left: 30px;
    
  }

  button {
    background: rgb(100, 243, 136);
    border: 0px solid rgb(100, 243, 136);
    color:rgb(26, 26, 26);
    border-radius: 5px;
    margin: 10px;
    padding: 5px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }
  
  .square {
    background: rgb(26, 26, 26);
    border: 1px solid rgb(100, 243, 136);
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
    color:rgb(100, 243, 136);
  }
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
    display: flex;
    flex-direction: row;
  }
  
  .game-info {
    margin-left: 20px;
  }
  